.titulo{
    background-color: orange;
    color: white;
    padding: 10px;
    font-family: 'Dancing Script', cursive;
}

.publicação{
    font-family: 'Dancing Script', cursive;
}


.bloco2{
    font-family: 'Dancing Script', cursive;
} 